@charset "UTF-8";
table {
        width : 100%;
    }

    table,th,td {
        border : 1px solid black;
        border-collapse : collapse;
        text-align: center;
    }

    th, td {
        padding : 5px 10px;
    }

  /*버튼             수정!! auto -> 0 */
    .search-box .search-line > .search-btn {
        margin-left: 0;
        width: auto;
    }


    .search-btn {
        width: 10%;
        padding: 0px 0px 0px 15px;
        height: auto;
    }

 

    .search-btn .btn_search {
        padding-top: 8px;
        height: auto;
    }




    .search-box {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(232, 232, 232);
        border-image: initial;
        padding: 10px 15px;
        height: auto;
    }

    .search-box .search-line:first-child {
           margin-top: 0px;
    }

    .search-box .search-line .search-name {
        height: 100%;
        position: relative;
        box-sizing: border-box;
        margin-left: 20px;
        height: auto;
        }

 

    .search-box .search-line {
        display: flex;
        flex-wrap: wrap;
        height: 35px;
        margin-top: 5px;
        width: 100%;
        float: none;height: auto;
    }

    .search-box > div {
        float: left;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        height: auto;
    }

    .search-box .search-name {
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: auto;
    }

    .search-box .search-line .search-name .search-txt, .search-box .search-line > div .contents-selectBox {
        float: left;
        height: 100%;
        height: auto;
    }

    .input-group-prepend {
        display: -ms-flexbox;
        display: flex;
        margin-right: -1px;
        height: auto;
    }

    .search-box .search-line > div .contents-selectBox {
        float: left;
        height: 100%;
        height: auto;
    }


    .contents-selectBox {
        position: relative;
        height: 100%;
        height: auto;
    }

    .search-box .search-line > div select {
        height: 100% !important;
        padding: 3px 5px !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(170, 170, 170) !important;
        border-image: initial !important;
        border-radius: 0px !important;
        margin-left : 5px;
        height: auto;
    }

   

/* Style the container */
.container {
  border-radius: 5px;
  padding: 20px;
}
    
.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-auto: auto;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  margin-top: 0;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}