<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
 	<typeAliases>
		<typeAlias alias="AuthorityVO" type="com.test.sample.vo.AuthorityVO"/>
		<typeAlias alias="CompanyVO" type="com.test.sample.vo.CompanyVO"/>
		<typeAlias alias="ConfirmVO" type="com.test.sample.vo.ConfirmVO"/>
		<typeAlias alias="MemberVO" type="com.test.sample.vo.MemberVO"/>
		<typeAlias alias="SiteVO" type="com.test.sample.vo.SiteVO"/>
		<typeAlias alias="UsersiteVO" type="com.test.sample.vo.UsersiteVO"/>	
		<typeAlias alias="WorkVO" type="com.test.sample.vo.WorkVO"/>
	</typeAliases>

	 
	 
	
<!-- 	  <typeAliases>
        
        <package name="com.test.sample"/>
    </typeAliases> -->
</configuration>
