<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>notice List</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<button id="btn">JSON파일 비동기 요청</button>
	<table border="1">
		<thead>
			<tr>
				<th>no</th>
				<th>name</th>
			</tr>
		</thead>
		<tbody id="noticeList">
		</tbody>
	</table>
</body>
<script>


$('#btn').click(function() {
	$.ajax({
		url : '/notice/noticeList',
		type : 'post',
		data : {no,1},
		success : function(data) { // 매개변수 : 응답된 문자열 -> jquery api에서 자바스크립트 객체 변경
			
			alert('성공!');
			console.log(data.no);
		}
	});
});
</script>
</html>